body {
    padding: 0;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    min-width: 1360px;
}

#splitter-vertical,
#splitter-horizontal {
    height: 100%;
}

#splitter-vertical {
    border-width: 0;
}

header {
    padding: 10px;
}

.text-align-right {
    text-align: right;
}

.content-header .title {
    font-size: 120%;
    font-weight: bold;
}

.content-header hr {
    margin-top: 5px !important;
}

.hris-container {
    margin: 0;
    min-height: 300px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-right: auto;
    margin-left: auto;
}

.k-grid-edit-row .k-textbox, .k-grid-edit-row .text-box {
    color: black !important;
}

.main-container {
    min-width: 800px;
    width: 1200px;
    margin: auto auto;
    background-color: white;
    margin-top: 20px;
}

.main-container-vertical {
    background-color: white;
    min-height: 400px;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}

    .main-container-vertical div.render-body {
        overflow: auto;
        height: 100%;
        float: right;
        overflow-x: hidden;
    }

div.panelBarMenuVertical-container {
    height: 100%;
    position: absolute;
}

    div.panelBarMenuVertical-container div.row {
        height: 100%;
    }

#panelBarMenuVertical {
    height: 100%;
}

.hris-footer {
    background-color: #2a2730;
    color: white;
    text-align: center;
    padding: 10px;
}

.hris-header {
    background-color: #2a2730;
    color: white;
    overflow: hidden !important;
}

    .hris-header a {
        color: white !important;
    }

.form-group span.k-datepicker span.k-picker-wrap {
    padding-bottom: 1px !important;
}

.form-group span.k-numerictextbox span.k-numeric-wrap {
    padding-bottom: 1px !important;
}

.clearfix {
    clear: both;
}
