@{
    Layout = "~/Views/Shared/_LayoutCommon.cshtml";
    ViewBag.Title = "Browser";
}

<div class="row">
    <div class="col-md-12" style="text-align: center;">
        <h2>
            Please use desktop or laptop only.
            <br />Application is not compatible in mobile device
        </h2>
    </div>
</div>